.text{ 
  color: white;
}

.upload-preview-parent {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 40px;
}

.upload-preview-parent p {
  color: white;
  text-align:left;
}

.upload-preview-parent img {
  max-width: 50;
  max-height: 50px;
  margin-right: 10px;
}

.upload-model-form{
  display: flex;
  justify-content: center;
}

.file-drop-down{
  border: 2px dashed #007bff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  min-height: 125px;
  width: 500px;
  margin-right: 20px;
  margin-left: 20px;
}
.upload-model-override-checkbox{
  align-self: center;
  margin-right: 20px;
  margin-left: 20px;
}

.upload-mode-button{

  margin: 20px;
  min-width: 160px;
  min-height: 40px;
  background-color: #007bff;
  border-radius: 15px;
  border-style:none;
  color: white;
}
  
@keyframes fade-blur-in {
    from {
      opacity: 0;
      filter: blur(1rem);
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-slide-in {
    from {
      opacity: 0;
      transform: translateY(-2rem);
    }
    to {
      opacity: 1;
    }
  }
  
  .scene-selection-button {
      margin: 10px;
      width: 310px;
      height: 310px;
    display: flex;
    justify-content: center;
      border-radius: 3px;
      -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
              box-shadow: 0 0 15px rgba(0,0,0,0.3);
    -webkit-transition: 200ms ease-in-out;
      -o-transition: 200ms ease-in-out;
      transition: 200ms ease-in-out;
    background-color: var(--color-primary-10);
    border: #ffffff00;
  }
  
  .scene-selection-image  {
      margin: 10px;
      width: 300px;
      height: 300px;
      border-radius: 3px;
      -webkit-transition: 200ms ease-in-out;
      -o-transition: 200ms ease-in-out;
      transition: 200ms ease-in-out;
    align-self: center;
      -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
              box-shadow: 0 0 15px rgba(0,0,0,0.3);
  }
  
  .scene-selection-button h1 {
    position:absolute;
      color: #fff;
    text-align: center;
      align-self: flex-end;
      font-weight: 100;
      font-size: 25px;
    background-color: rgba(0, 0, 0, 0.404);
    width: 300px;
    height: 50px;
    margin-bottom: 5.5px;
    border-radius: 3px;
  }
  
  .scene-selection-button:hover{
    -webkit-transition: 200ms ease-in-out;
      -o-transition: 200ms ease-in-out;
      transition: 200ms ease-in-out;
    transform: translate(0, -5px);
  }
  
  .wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
  }

  .render-step-parent {
    margin-bottom: 100px;
    width: 200px;
    height: px;
    display: flex;
    justify-content: center;
    -webkit-transition: 200ms ease-in-out;
      -o-transition: 200ms ease-in-out;
      transition: 200ms ease-in-out;
}
.render-step-image  {
    width: 200px;
    height: 100;
    -webkit-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    align-self: center;
}

.render-step-parent h4 {
    position:absolute;
      color: #fff;
    text-align: center;
    align-self:baseline;
    font-weight: 100;
    font-size: 25px;
    width: 180px;
    height: 50px;
    padding-bottom: 10px;
  }